.body {
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  
}
.logo {
  padding: 40px 0;
  font: bold 24px/31px pt_serif ;
  width: 190px;
  height: 35px;
  background: url('img/logo.png');
  font-family: 'pt_serifbold'; Arial, Helvetica;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}
.wrapper, .main-section, .logo, .menu__item, .header, .main-content, .main-content__title, .main-content__subtitle, .main-content__button {
font-family: 'pt_serifbold'; Arial, Helvetica;
}
.main-content__button {
  background:green;
}
